.side-bar {
  background-color: var(--clr-primary);
  width: 260px;
  padding: 36px 20px;
  transition: var(--transition-default);

  .user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;

    .info-name {
      font-weight: 500;
      font-size: 20px;
      color: var(--clr-white);
      text-transform: uppercase;
    }

    .info-img {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .navigation {
    margin-top: 28px;
    height: 600px;
    overflow-y: scroll;
    font-size: 18px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    /* 滚动条轨道 */
    &::--webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 18px;
    }

    /* 滚动条滑块 */
    &::--webkit-scrollbar-thumb {
      background-color: var(--clr-pumpkin);
      border-radius: 18px;
    }



    .nav-item {
      margin-bottom: 10px;
      //  margin-top: 10px;

      .nav-link {
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 6px 14px;
        column-gap: 12px;
        letter-spacing: 0.03em;
        border: 1px solid transparent;
        transition: var(--transition-default);
      }

      .nav-link.active {
        background-color: var(--clr-pumpkin);
        border: 1px solid transparent !important;
      }

      .nav-link:hover {
        border: 1px solid rgba(255, 255, 255, 0.4);
      }

      .nav-link-icon {
        width: 22px;
        height: 22px;
      }

      .nav-link-text {
        text-transform: capitalize;
      }

    }
  }
}

//隐藏sidebar
.sidebar-change {
  margin-left: -260px;
}

@media screen and (max-width:1400px) {
  .side-bar {
    width: 180px;
    padding: 24px 16px;
  }
}

@media screen and (max-width:1200px) {
  .info-name {
    display: none;
  }

  .side-bar {
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;

    .navigation {

      .nav-item {
        margin-bottom: 18px;

        .nav-link {
          width: 50px;
          border-radius: 25px;
          justify-content: center !important;
        }

        .nav-link-text {
          display: none;
        }
      }
    }

  }

  .sidebar-change {
    margin-left: -72px;
  }




}

@media screen and (max-width:420px) {
  .side-bar {
    margin-left: -72px;
  }

  .sidebar-change {
    margin-left: 0px;
  }

}