.grid-c5 {
    .grid-c5-content {
        .grid-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            .grid-item-l {
                display: flex;
                align-items: center;
                column-gap: 10px;

                .icon {
                    background-color: rgba(254, 30, 0, 0.15);
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    display: flex;
                    align-items: cneter;
                    justify-content: center;

                    img {
                        width: 16px;
                    }
                }

                .text {
                    color: var(--clr-silver-v1);
                    span {
                        display: block;
                        color: #8a8587;
                        font-size: 15px;
                    }
                }
            }
            .grid-item-r{
                span{
                    font-weight: 600;
                }
            }
        }

        .grid-item:last-child {
            margin-bottom: 0;
        }

    }
}